#sponsors {
  text-align: center;

  .container > h2 {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsor-container {
    margin-top: 40px;
    background: #fff;
    border-radius: 5px;
  }

  img {
    height: 70px;
    width: 190px;
    max-height: 70px;
    max-width: 190px;
    object-fit: contain;
  }

  h3 {
    margin-bottom: 0px;
    padding: 20px;
    border-bottom: 1px solid $border;
  }

  figure {
    margin: 0;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding: 3px 0 5px 0;
  }

  .logo {
    flex: 0;
    margin: 0 20px 20px 20px;
  }
  .sponsor {
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 4px #DDE8F1;
  }

  .platinum {
    img {
      max-height: 100px;
      max-width: 190px;
      width: 190px;
      height: 60px;
    }

    .sponsor {
      display: flex;
      flex: 0;
      flex-basis: 270px;
      flex-direction: column;
      align-content: start;
      align-items: center;
      justify-content: start;
      text-align: center;
    }
    p {
      max-width: 300px;
      margin-bottom: 0;
    }
  }

  .diversity-sponsors {
    align-self: center;
    max-width: $eight-col;
    margin-top: 40px;

    h2 {
      margin-top: 60px;
    }
  }
}
